.slideshow-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #cacaca, #f8f8f8);
}

.slideshow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.item-wrapper {
    position: absolute;
    transform-origin: center center;
    transition: transform 0.3s ease;
    z-index: 1; // Default z-index for non-active items
    max-width: 300px;
    filter: blur(2px); // Add blur effect to non-active items
    opacity: 0.3; // Set opacity for non-active items

    .card-info {
        pointer-events: none;
        display: none;
        position: fixed;
        left: 5vh;
        top: 10vh;
        padding: 20px;
        border-radius: 4px;
        box-shadow: 2px 2px rgba(0, 0, 0, 0.4);
        min-width: 30vw;
        font-size: 3.5em;

        .set {
            position: relative;

            &:after {
                content: "";
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: rgba(0, 0, 0, 0.192);
                /* Adjust the color as needed */
            }
        }

        .countdown {
            float: right;
            font-size: 40px;
            color: white;
            background-color: black;
            border-radius: 50%;
            /* Makes it a circle */
            width: 50px;
            /* Set the width and height to your desired size */
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 50px;
            pointer-events: none;
        }


        .name {
            margin-top: 20px;
            font-size: 0.6em;
        }
    }

    &.active {
        z-index: 2;
        filter: none; // Remove blur for active item
        opacity: 1; // Set full opacity for active item

        .card-info {
            display: block;
        }
    }

    .slideshow-img {
        max-width: 300px;
    }
}